<form>
<div class="form-group col-md-4">
  <label>Product Name:*</label>
  <input type="text" name="pName"
  class="form-control">
</div>
<div class="form-group col-md-4">
  <label>Product Price:*</label>
  <input type="number" name="pPrice"
  class="form-control">
</div>
<div class="form-group col-md-4">
  <label>Product Picture:*</label>
  <input type="text" name="pPicture"
  class="form-control">
</div>
<div class="form-group col-md-4">
  <label>Product Quantity:*</label>
  <input type="number" name="pQuantity"
  class="form-control">
</div>
<br>
<button class="btn btn-success">
 save
</button>
&nbsp;
<button class="btn btn-warning">
  reset
</button>
</form>
